[Unit]
Requires=docker.service home-me.service
After=docker.service
Description=Start searxng local server

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a searx
ExecStop=/usr/bin/docker stop -t 2 searx

[Install]
WantedBy=default.target
